body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #a23b2a;
    margin: 0px;
    color: white;
}

h3 {
  text-align: center;
}

hr {
  color: #78564C;
  background-color: #78564C;
  border-bottom: 4px;
}

.upgrade-icon {
  height: 120px;
  width: auto;
}

#cookieCount {
  color: white;
}
#stats {
  background-color: #94281f;
  height: 100%;
  border-radius: 20px;
  padding: 5px;
  margin-top: 15px;
  color: white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 4px solid #45342b;
}

#middle {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-version {
  margin-left: 5px;
  margin-right: 5px;
}

.pc-version {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

#middle-mobile {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 400px;
}

#upgrades {
  background-color: #94281f;
  border-radius: 20px;
  padding: 5px;
  margin-top: 15px;
  color: white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 4px solid #45342b;
}

#cookie {
    text-align: center;
    width: 100%;
}

#cookie img {
  padding-top: 20px;
  width: 304px;
  height: auto;
  margin: auto;
}

#cookie img:active {
  width: 280px;
  height: auto;
}

#bakery_name {
  padding-top: 5px;
  font-size: 30px;
}

#values {
    margin-left: 5px;
}

#button_upgrade, #passive_upgrade {
    background: #b5762a;
    background-image: -webkit-linear-gradient(top, #b5762a, #9e6525);
    background-image: -moz-linear-gradient(top, #b5762a, #9e6525);
    background-image: -ms-linear-gradient(top, #b5762a, #9e6525);
    background-image: -o-linear-gradient(top, #b5762a, #9e6525);
    background-image: linear-gradient(to bottom, #b5762a, #9e6525);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    color: #ffffff;
    font-size: 22px;
    padding: 4px 25px 4px 25px;
    cursor: pointer;
    text-decoration: none;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    margin: 2px;
}

#button_upgrade:hover, #passive_upgrade:hover {
  background: #8a581e;
  background-image: -webkit-linear-gradient(top, #8a581e, #945f22);
  background-image: -moz-linear-gradient(top, #8a581e, #945f22);
  background-image: -ms-linear-gradient(top, #8a581e, #945f22);
  background-image: -o-linear-gradient(top, #8a581e, #945f22);
  background-image: linear-gradient(to bottom, #8a581e, #945f22);
  text-decoration: none;
}

#button_upgrade:active, #passive_upgrade:active {
    position:relative;
    top:1px;
}
